@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
  background: linear-gradient(#141e30, #243b55);
}

.registration-container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.menu{
  display: none;

  color: rgb(226, 226, 226);
  font-size: 3rem;
  cursor: pointer;

  position: fixed;
  top: .2rem;
  right: .4rem;

  transition: opacity 200ms ease, rotate 200ms ease;
}
.rotate{
  rotate: 450deg;
}
.menu:hover{
  opacity: .85;
}

.navbar{
  padding: 1rem 2rem;
  z-index: 999;
  width: 100%;

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  list-style: none;

  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.navitem{
  cursor: pointer;
  transition: opacity 200ms ease;
}
.navitem:hover{
  opacity: .85;
}
.none{
  display: none !important;
}

.main{
  background-image: url("https://c.pxhere.com/photos/b0/e9/auditorium_crowd_classroom_people_conference-1398059.jpg!d");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container{
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}

.text-container svg{
  opacity: .95;
  z-index: 998;
}

.text{
  position: absolute;
  margin: 15rem;
  z-index: 998;
}

.main-text{
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
}

.subtext{
  color: #fff;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plan{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 2rem;

  color: #222;
  background-color: #eee;
  font-size: 2rem;
  font-weight: 700;

  text-align: center;
}

.contact{
  background-color: #222;
  padding: 1rem 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact a{
  color: #eee;
}

@media screen and (max-width: 960px){
  .menu{
    display: flex !important;
    z-index: 999;
  }

  .navbar{
    text-align: right;
    list-style: none;
    color: rgb(196, 222, 247);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 !important;

    position: fixed;
    top: 3rem;
    right: .4rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    z-index: 999;

    transform: translateX(0);
    transition: transform 200ms ease;
  }
  .isclosed{
    transform: translateX(1000%);
  }

  .navitem{
    cursor: pointer;
    transition: opacity 200ms ease;
  }
  .navitem:hover{
    opacity: .85;
  }

  .contact{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 !important;
  }
}

.login-box {
  width: 650px;
  padding: 40px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 90px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 16px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:active ~ label{
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.user-box:nth-child(7) input, .user-box:nth-child(8) input{
  padding-bottom: 2rem;
}

button {
  color: #1056a7;
  padding: .5rem 1rem;
  border: 2px solid #1056a7;
  font-size: 2rem;
  transition: background-color 200ms ease, color 200ms ease;
  background-color: transparent;
  border-radius: 3rem;
  cursor: pointer;
}


button:hover {
  color: #fff;
  background-color: #1056a7;
}